body {
  background-color: #F4F8E9;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 auto;
  max-width: 800px;
}
h1 {
  color: #2A453E;
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
}

p {
  color: #2A453E;
  margin: 0;
}

.menu {
  background-image: url(snakebg.jpg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  min-height: 500px;
  text-align: center;
}

#canvas {
  margin: 0 auto;
  display: block;
}

.menu #gameplay {
  text-align: center;
}
.btn {
  color: #2A453E;
  background-color: #C9CDBF;
  border: 0;
  transition: 200ms;
}

.btn:hover {
  background-color: #bbc0af;
}

.btn-menu {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 24px;
  width: 200px;
  height: 64px;
  border-radius: 32px;
  margin: 200px auto;
}

.control-panel {
  display: block;
  margin-bottom: 20px; 
  min-height: 30px;
}

.info-bar {
  display: inline-block;
}

.game-menu {
  display: block;
  float: right;
}

.game-menu button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  margin-left: 8px;
  padding: 4px 8px 4px 8px;
}