body {
  background-color: #F4F8E9;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 auto;
  max-width: 800px;
}
h1 {
  color: #2A453E;
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
}

p {
  color: #2A453E;
}

.body-game {
  background-image: url(snakebg.jpg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  min-height: 500px;
  text-align: center;
}

#canvas {
  margin: 0 auto;
  display: block;
  float: left;
}

.body-game #gameplay {
  text-align: center;
}

.btn-ng {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 24px;
  color: #2A453E;
  background-color: #C9CDBF;
  width: 200px;
  height: 64px;
  border-radius: 32px;
  border: 0;
  margin: 200px auto
}

.sidebar {
  widows: 240px;
  margin-left: 40px;
  display: inline-block;
}